<!DOCTYPE html>
<html lang=”en”>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/main_page.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>我的商店</title>
</head>

    <body class="page">
        <nav>
            <div class="logo">
                <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/ScreenShot+2021-05-17+%E4%B8%8B%E5%8D%884.19.58.png" id="logo" />
            </div>

            <ul class="options">
                <li id="women">熱門</li>
                <li id="men">驚悚</li>
                <li id="acc">動作</li>
            </ul>
            <input type="text" />
            <input type="submit" value="search" />
            
        </nav>

        <section class="intro" id="banner">
            <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/maxresdefault.jpeg" />
        </section>
        <section class="itemsSection">
            <div class="itemsWrap" id="wrap0">
                <div class="item">
                <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p1924498395.jpg">
                <div class="information">
                  <div class="productColors">       
                  </div>
                  <div class="productInfo">
                    <div>毒戰</div>
                    <div>IMDb:7.0  豆瓣：7.4</div>
                  </div>
                </div>
                </div>
                <div class="item">
                    <img src="https://img9.doubanio.com/view/photo/s_ratio_poster/public/p2282434035.jpg">
                    <div class="information">
                      <div class="productColors">       
                      </div>
                      <div class="productInfo">
                        <div>饥饿游戏3：嘲笑鸟(下)</div>
                        <div>IMDb:6.6  豆瓣：6.4</div>
                      </div>
                    </div>
                    </div>
                  
        </section>
    </body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script src="../static/js/index.js"></script>
</html>