{% extends 'base.html' %}

}
{% block content%}
<h1 style="color:#D68B00;border:2px #ccc solid;padding:10px;">Hello {{ user.username }}</h1>
<h3 style="color:white">
  你的口味相似度評比
</h3>
<img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/imdb.png"/>
<div style="color:#D68B00;border:2px">與 Imdb <div>83% 相似<div></div>
<img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/douban.jpg"/>
<div style="color:#D68B00;border:2px" >與 豆瓣 <div>83% 相似<div></div>
<img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/tomato.png"/>
<div style="color:#D68B00;border:2px" >與 爛番茄影評 <div>83% 相似<div></div>
<div style="color:#D68B00;border:2px" >與 爛番茄觀眾 <div>數據太少無法顯示<div></div>


<h1>曾經評價過的電影</h1>
<img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/p2651298629.webp">
<div>境界3</div>
<div>評價<div>7</div></div>
<img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/p2651298629.webp">
<div>境界3</div>
<div>評價<div>7</div></div>
<img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/p2651298629.webp">
<div>境界3</div>
<div>評價<div>7</div></div>
{% endblock %}

{% block js%}<script src="../static/js/movie_page.js" type="text/javascript"></script>{% endblock %}


