{% extends 'base.html' %}

{% block css%}<link rel="stylesheet" href="../static/css/movie_page.css" />{% endblock %}
{% block content%}

<section class="movieSection" id = {{imdb_id}}>
    <img src  = {{image}} />
    <h1>{{movie_title}}</h1>
    <a href="https://movie.douban.com/subject/{{douban_id}}">豆瓣</a>
    <div>    -</div>
    <a href="https://www.imdb.com/title/{{imdb_id}}">imdb</a>
    {{ movie_description }}
</section>

<div class="rating">
    你對這部電影的評價是？
    <div class="container">
        <div class="row">
        <div class="rating">
          <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Rocks!">10 stars</label>
          <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Rocks!">9 stars</label>
          <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">8 stars</label>
          <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">7 stars</label>
          <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh">6 star</label>
          <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
          <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
          <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
          <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big time">2 stars</label>
          <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
        </div>
        </div>
        <div class="ratingNum"></div>
    </div>
        <button class="ratingSubmit">送出</button>
</div>
{% endblock %}

{% block js%}<script src="../static/js/movie_page.js" type="text/javascript"></script>{% endblock %}


