{% extends 'base.html' %}

}
{% block content%}
<section class="movie__section">
    <div class="movie__information" id = {{imdb_id}}>
      <img src={{image}}  />
      <div class="movie__detail">
        <h2>{{movie_title}}</h2>
        <ul>
          <li>導演：Jimmy</li>
          <li>演員：Jimmy,Lowry,jack</li>
          <li>上映日期：2021/10/2</li>
          <li>類型：恐怖、愛情</li>
        </ul>
        <div class="rating__wrap">
          <div class="rating">
            <input type="radio" id="star10" name="rating" value="10" /><label for="star10" title="Rocks!">10 stars</label>
            <input type="radio" id="star9" name="rating" value="9" /><label for="star9" title="Rocks!">9 stars</label>
            <input type="radio" id="star8" name="rating" value="8" /><label for="star8" title="Pretty good">8 stars</label>
            <input type="radio" id="star7" name="rating" value="7" /><label for="star7" title="Pretty good">7 stars</label>
            <input type="radio" id="star6" name="rating" value="6" /><label for="star6" title="Meh" >6 star</label>
            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Meh">5 stars</label>
            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Kinda bad">4 stars</label>
            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Kinda bad">3 stars</label>
            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Sucks big time">2 stars</label>
            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
          </div>
        </div>
        <div class="movie__ranking">
        <div>
            <a href="https://www.imdb.com/title/{{imdb_id}}">
          <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/imdb.png"/>
            </a>
          <p>6.3（共 1999 筆評分）</p>
        </div>
        <div>
        <a href="https://movie.douban.com/subject/{{douban_id}}">
          <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/douban.jpg"/>
        </a>
          <p>9.7（共 1999 筆評分）</p>
        </div>
        <div>
          <img src="https://stylishforjimmy.s3-ap-northeast-1.amazonaws.com/tomato.png"/>
          <p>觀眾評分 8.3（共 1999 筆評分）</p>
        </div>
      </div>
      </div>
    </div>
    <div class="movie__intro">
        {{ movie_description }}
      </div>
</section>
{% if rating %}
    <p hidden="hidden" id="rating">{{rating}}</p>
{% else %}
    <p hidden="hidden" id="rating"></p>
{% endif %}
{% endblock %}

{% block js%}<script src="../static/js/movie_page.js" type="text/javascript"></script>{% endblock %}


