{% extends 'base.html' %}

{% block css%}<link rel="stylesheet" href="../static/css/sign_up.css" />{% endblock %}
{% block content%}
<h1>註冊頁面</h1>
<div class="formWrap">
<form action="" method="POST">
    
    {% csrf_token %}
    {{ form }}

    <br />
    <p>已經有帳號了嗎? <a href="/signin">登入</a></p>
    <input class="btn btn-success" type="submit" value="送出" />
    
    {% if request.GET.next %}
    <input type="hidden" name="next" value="{{request.GET.next}}">
    {% endif%}
</form>
</div>
{% endblock %}




