/* body *, body {
  border: 1px solid red;
} */

.page{
  margin:0px;
  font-family:Noto;
} 

   
  nav{
    display:flex;
    justify-content:space-around;
    background-color:	white;
    align-items: center;
     position:fixed;
     top: 0;
     left: 0;
     width: 100%;
    }
  nav .logo{
    margin-left:30px;
    width:80%;
    }
nav .logo img {
  position: relative;
  width: 60%;
}
  nav .options{
    margin-right:500px;
    list-style:none;
    display:flex;
    font-size:30px;
    width:900px;
    justify-content:space-around;
  }

.intro {
      width:100%;
      text-align:center;

  }

  .movieSetion {
    margin: 30 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 5vh ;
    width: 75%;
    justify-content: center;
}
div img {
  width:100%;
}


.item {
  width: 300px;
  height: 300px;
  margin: 50px;
}

 
.productColors {
  display: flex;
  justify-content: left;
}
.color{
 width:  20px;
  height: 20px;  
  margin: 5px;
}

.productInfo div{
  margin:10px;
  margin-top:5px;
  margin-left:5px;
  font-size:20px;

}

.rating {
  float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
  follow these rules. Every browser that supports :checked also supports :not(), so
  it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    /* padding:0 .1em; */
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:300%;
    /* line-height:1.2; */
    color:#ddd;
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: dodgerblue;
    
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: dodgerblue;
    
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: dodgerblue;
    
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}