body {
    color: #E6E6FA;
  }

h1{
    padding: 50px;
}
.formWrap{
    display:flex;
    align-items:center;
    text-align: center;
    width: 300px;
    padding: 50px;
    margin-left: 50%;
    
}
/* 
form{
    background-color: #E6E6FA;
} */